DBUSER = root
DBPASS = dbpass
DBHOST = localhost
DBPORT = 3306
DBNAME = dbname
JWTKey = anyThingR4nd0mString
CLOUDINARY_CLOUD_NAME = duilggx5g
CLOUDINARY_API_KEY = 941577169771162
CLOUDINARY_API_SECRET = IMsqTegxDzeDLvlnNzUR5WjFp3M
CLOUDINARY_UPLOAD_FOLDER = ecommerce